# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: npm
    directory: /cypress
    schedule:
      interval: daily
      time: "08:00"
      timezone: Etc/UTC
    labels:
      - "dependabot"
    reviewers:
      - saucelabs/visual-team
    allow:
      - dependency-name: "@saucelabs/*"
        dependency-type: all
  - package-ecosystem: npm
    directory: /storybook
    schedule:
      interval: daily
      time: "08:00"
      timezone: Etc/UTC
    labels:
      - "dependabot"
    reviewers:
      - saucelabs/visual-team
    allow:
      - dependency-name: "@saucelabs/*"
        dependency-type: all
  - package-ecosystem: npm
    directory: /wdio
    schedule:
      interval: daily
      time: "08:00"
      timezone: Etc/UTC
    labels:
      - "dependabot"
    reviewers:
      - saucelabs/visual-team
    allow:
      - dependency-name: "@saucelabs/*"
        dependency-type: all
  - package-ecosystem: npm
    directory: /wdio-cucumber
    schedule:
      interval: daily
      time: "08:00"
      timezone: Etc/UTC
    labels:
      - "dependabot"
    reviewers:
      - saucelabs/visual-team
    allow:
      - dependency-name: "@saucelabs/*"
        dependency-type: all
  - package-ecosystem: npm
    directory: /wdio-jasmine
    schedule:
      interval: daily
      time: "08:00"
      timezone: Etc/UTC
    labels:
      - "dependabot"
    reviewers:
      - saucelabs/visual-team
    allow:
      - dependency-name: "@saucelabs/*"
        dependency-type: all
  - package-ecosystem: npm
    directory: /wdio-ios-app
    schedule:
      interval: daily
      time: "08:00"
      timezone: Etc/UTC
    labels:
      - "dependabot"
    reviewers:
      - saucelabs/visual-team
    allow:
      - dependency-name: "@saucelabs/*"
        dependency-type: all
  - package-ecosystem: npm
    directory: /wdio-android-app
    schedule:
      interval: daily
      time: "08:00"
      timezone: Etc/UTC
    labels:
      - "dependabot"
    reviewers:
      - saucelabs/visual-team
    allow:
      - dependency-name: "@saucelabs/*"
        dependency-type: all
  - package-ecosystem: npm
    directory: /nightwatch/default
    schedule:
      interval: daily
      time: "08:00"
      timezone: Etc/UTC
    labels:
      - "dependabot"
    reviewers:
      - saucelabs/visual-team
    allow:
      - dependency-name: "@saucelabs/*"
        dependency-type: all
  - package-ecosystem: npm
    directory: /nightwatch/mocha
    schedule:
      interval: daily
      time: "08:00"
      timezone: Etc/UTC
    labels:
      - "dependabot"
    reviewers:
      - saucelabs/visual-team
    allow:
      - dependency-name: "@saucelabs/*"
        dependency-type: all
  - package-ecosystem: npm
    directory: /nightwatch/cucumberjs
    schedule:
      interval: daily
      time: "08:00"
      timezone: Etc/UTC
    labels:
      - "dependabot"
    reviewers:
      - saucelabs/visual-team
    allow:
      - dependency-name: "@saucelabs/*"
        dependency-type: all
  - package-ecosystem: maven
    directory: /wd-java
    schedule:
      interval: daily
      time: "08:00"
      timezone: Etc/UTC
    labels:
      - "dependabot"
    reviewers:
      - saucelabs/visual-team
    allow:
      - dependency-name: "com.saucelabs.visual:*"
        dependency-type: all
  - package-ecosystem: maven
    directory: /wd-java-testng
    schedule:
      interval: daily
      time: "08:00"
      timezone: Etc/UTC
    labels:
      - "dependabot"
    reviewers:
      - saucelabs/visual-team
    allow:
      - dependency-name: "com.saucelabs.visual:*"
        dependency-type: all
  - package-ecosystem: nuget
    directory: /dotnet-nunit
    schedule:
      interval: daily
      time: "08:00"
      timezone: Etc/UTC
    labels:
      - "dependabot"
    reviewers:
      - saucelabs/visual-team
    allow:
      - dependency-name: "SauceLabs.*"
        dependency-type: all
  - package-ecosystem: nuget
    directory: /dotnet-xunit
    schedule:
      interval: daily
      time: "08:00"
      timezone: Etc/UTC
    labels:
      - "dependabot"
    reviewers:
      - saucelabs/visual-team
    allow:
      - dependency-name: "SauceLabs.*"
        dependency-type: all
