# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: C#/.NET Tests

on:
  push:
    paths:
      - 'dotnet-*/**'
      - '.github/workflows/dotnet.yml'
    branches:
      - main
  pull_request:
    paths:
      - 'dotnet-*/**'
      - '.github/workflows/dotnet.yml'
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  xunit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build XUnit example
        uses: docker/build-push-action@v4
        with:
          context: ./dotnet-xunit
          file: ./dotnet-xunit/Dockerfile
          push: false
          secrets: |
            "dotenv=${{ secrets.DOTENV }}"
          build-args:
            - GITHUB_RUN_ID=${{ GITHUB_RUN_ID }}
            - GITHUB_RUN_ATTEMPT=${{ GITHUB_RUN_ATTEMPT }}

  nunit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build NUnit example
        uses: docker/build-push-action@v4
        with:
          context: ./dotnet-nunit
          file: ./dotnet-nunit/Dockerfile
          push: false
          secrets: |
            "dotenv=${{ secrets.DOTENV }}"
