# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Nigthwatch Tests

on:
  push:
    paths:
      - 'nigthwatch*/**'
    branches:
      - main
  pull_request:
    paths:
      - 'nigthwatch*/**'
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  cucumber:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run nightwatch example
        uses: docker/build-push-action@v4
        with:
          context: ./nightwatch/cucumber
          file: ./nightwatch/cucumber/Dockerfile
          push: false
          secrets: |
            "dotenv=${{ secrets.DOTENV }}"
  default:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run nightwatch example
        uses: docker/build-push-action@v4
        with:
          context: ./nightwatch/default
          file: ./nightwatch/default/Dockerfile
          push: false
          secrets: |
            "dotenv=${{ secrets.DOTENV }}"

  mocha:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run nightwatch example
        uses: docker/build-push-action@v4
        with:
          context: ./nightwatch/mocha
          file: ./nightwatch/mocha/Dockerfile
          push: false
          secrets: |
            "dotenv=${{ secrets.DOTENV }}"
