# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: WDIO Tests

on:
  push:
    paths:
      - 'wdio*/**'
      - '.github/workflows/wdio.yml'
    branches:
      - main
  pull_request:
    paths:
      - 'wdio*/**'
      - '.github/workflows/wdio.yml'
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  wdio:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build wdio example
        uses: docker/build-push-action@v4
        with:
          context: ./wdio
          file: ./wdio/Dockerfile
          push: false
          secrets: |
            "dotenv=${{ secrets.DOTENV }}"

  wdio-cucumber:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build wdio example
        uses: docker/build-push-action@v4
        with:
          context: ./wdio-cucumber
          file: ./wdio/Dockerfile
          push: false
          secrets: |
            "dotenv=${{ secrets.DOTENV }}"

  wdio-jasmine:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build wdio example
        uses: docker/build-push-action@v4
        with:
          context: ./wdio-jasmine
          file: ./wdio/Dockerfile
          push: false
          secrets: |
            "dotenv=${{ secrets.DOTENV }}"

  wdio-native-app:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [ios]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install saucectl
        uses: saucelabs/saucectl-run-action@v4
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          skip-run: true

      - name: Pre-Upload App
        id: upload
        working-directory: ./wdio-${{ matrix.platform }}-app/
        env:
          SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
        run: |
          EXT=apk
          if [ "${{ matrix.platform }}" = "ios" ];then
            EXT=ipa
          fi
          APP_FILEID=$(saucectl storage upload ./app/SauceLabs-Demo-App.${EXT} -o json | jq -r '.id')
          echo "APP_FILEID=${APP_FILEID}" >> $GITHUB_OUTPUT

      - name: Build wdio example
        uses: docker/build-push-action@v4
        with:
          context: ./wdio-${{ matrix.platform }}-app
          file: ././wdio/Dockerfile
          build-args:
            APP_FILEID=${{ steps.upload.outputs.APP_FILEID }}
          push: false
          secrets: |
            "dotenv=${{ secrets.DOTENV }}"
